.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: center;
    font-family:sans-serif;
}

header {background: black;color:white;}
footer {
    background: #aaa;color:white;
}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
    padding: 0;
}
.nav ul a {
    text-decoration: none;
}

.btn-group .button {
    background-color: #6f726f;
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    display: block;
}

.btn-group .button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.btn-group .button:hover {
    background-color: #c3c9c3;
    border-color: black;
}

#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#6f726f;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.msgln { margin:0 0 2px 0; }

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    .div {-webkit-flex:5 0px;flex:5 0px;-webkit-order:3;order:3;}
    footer {-webkit-order:4;order:4;}
}

.column-up{ float: top; width: 15%; 
font-family:sans-serif;

-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;}

.column-left{ float: left; width: 15%; 
font-family:sans-serif;

border: 1px solid #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;

background: rgba(219,219,219,1);
background: -moz-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 3%, rgba(226,226,226,1) 6%, rgba(209,209,209,1) 9%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,219,219,1)), color-stop(0%, rgba(219,219,219,1)), color-stop(3%, rgba(254,254,254,1)), color-stop(6%, rgba(226,226,226,1)), color-stop(9%, rgba(209,209,209,1)));
background: -webkit-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 3%, rgba(226,226,226,1) 6%, rgba(209,209,209,1) 9%);
background: -o-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 3%, rgba(226,226,226,1) 6%, rgba(209,209,209,1) 9%);
background: -ms-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 3%, rgba(226,226,226,1) 6%, rgba(209,209,209,1) 9%);
background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(219,219,219,1) 0%, rgba(254,254,254,1) 3%, rgba(226,226,226,1) 6%, rgba(209,209,209,1) 9%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#d1d1d1', GradientType=1 );}

.column-right{ float: right; width: 48%;
font-family:sans-serif;

border: 1px solid #000000;
-moz-border-radius: 1px;
-webkit-border-radius: 1px;
padding: 1px;
}

.column-center{ display: inline-block; width: 33%;
font-family:sans-serif;

border: 1px solid #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;}

.rules{
      font: 100% sans-serif;
}